body {
    font: 90% Arial, Helvetica, sans-serif;
    margin: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;     
  }
  
  .content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
  }
  
  
label {
    color: navy;
    float: left;
    width: 8em;
    font-weight: bold;
    text-align: right;}
input {
    width: 15em;
    margin-left: 1em;
    margin-bottom: .5em;}

input:focus {
    border: 2px solid navy; }

#button, #reset {
    width: 7em;
    box-shadow: 2px 2px 0 navy;
    background-color: silver; }

#button { margin-left: 9.5em; }

textarea{
	height: 5em;
	width: 25em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 1em;
	margin-bottom: .5em;}

textarea:focus{
	border:2px solid navy;}

fieldset {
	margin-top: 1em;
	margin-bottom: 1 em;
	padding-top: .5em;
}

legend {
	color: black;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: .5em;
}

h1 { color: #ffa31a; font-family: 'Helvetica Neue', sans-serif; font-size: 84px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h2 { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }
p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }


#myFooter {
	background-color: #47494c;
	color:white;
    margin-top:60px;

}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: #ffa31a;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
    font-size: 12px;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

